body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #41c5bf;
    margin: 0;
    padding: 30;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1, h2 {
    color: #cfad15;
    text-align:center ;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    text-align: center;
}


label {
    display: block;
    margin-top: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 98%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #463e3e;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #09ff00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.resume {
    margin-top: 20px;
}

.resume-section {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
